# Зависимости
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Скомпилированные файлы
dist/
build/

# Переменные окружения
.env

# Логи
logs/
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace